[user]
	name = denisgolubtsov
	email = d.golubtsov@semrush.com
[pull]
	rebase = false
[maintenance]
	repo = /Users/denisgolubtsov/projects/agency-directory-profile

[includeIf "gitdir:~/code/"]
	path = ~/code/.gitconfig


[rerere]
	enabled = true
[push]
	autoSetupRemote = true
